<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-white w-100 shadow mx-auto mt-2 mb-4" aria-label="navbar">
        <div class="container-fluid">
            <div class="d-flex align-items-center gap-3">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
                    <i class="fas fa-bars"></i>
                </button>

            </div>
            <form (ngSubmit)="onLogout()">
                <div class="dropdown">
                    <button class="btn profile-btn d-flex align-items-center dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/user_default.png" class="rounded-circle profile-img" height="40" alt="User" />
                        <div class="ms-2 text-start">
                            <div class="fw-bold">{{ name || 'Loading...' }}</div>
                            <small class="text-muted">{{ role || 'Loading...' }}</small>
                        </div>
                    </button>

                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item d-flex align-items-center" routerLink="/profile"><i
                                    class="bi bi-person me-2"></i> My Profile</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" routerLink="/edit-profile"><i
                                    class="bi bi-pencil me-2"></i> Edit Profile</a></li>
                        <li><a class="dropdown-item d-flex align-items-center" routerLink="/support"><i
                                    class="bi bi-question-circle me-2"></i> Help & Support</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item d-flex align-items-center text-danger"><i
                                    class="bi bi-box-arrow-right me-2"></i> Log out</button></li>
                    </ul>
                </div>
            </form>
        </div>
    </nav>

    <div class="d-flex">
        <nav id="sidebarMenu" class="bg-white sidebar collapse" style="width: 250px; height: 100vh; position: fixed;"
            aria-label="sidebar">

            <div class="list-group list-group-flush mx-3 mt-5">

                <img src="assets/maghrebia.png" height="40" alt="Logo" class="pl-4 mb-4" loading="lazy" />
                <a routerLink="/dashboard" class="list-group-item list-group-item-action py-2 ripple"
                    aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
                </a>
                <a routerLink="/admin/profile" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-user-circle fa-fw me-3"></i><span>Profile</span></a>
                <a routerLink="/admin/settings" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-wrench fa-fw me-3"></i><span>Settings</span></a>
                <a routerLink="/admin/users" class="list-group-item list-group-item-action py-2 ripple"
                    data-bs-toggle="collapse" aria-expanded="false" aria-controls="usersSubmenu" *ngIf="isAdmin()">
                    <i class="fas fa-users fa-fw me-3"></i><span>Users</span>
                </a>
                <a routerLink="/dashboard/contracts" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-calendar fa-fw me-3"></i><span>Contracts</span>
                </a>
                <a routerLink="/dashboard/contacts" class="list-group-item list-group-item-action py-2 ripple"
                    data-bs-toggle="collapse" aria-expanded="false" aria-controls="usersSubmenu">
                    <i class="fas fa-users fa-fw me-3"></i><span>Contacts</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple mb-5">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Transactions</span>
                </a>
            </div>
        </nav>

        <div class="container mt-4 d-flex justify-content-center">
            <main class="p-4 bg-light rounded shadow">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>