<div #modalElement class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <i class="bi-exclamation-circle-fill text-danger ms-2 me-2"></i>
        <h5 class="modal-title" id="modalLabel">{{ title || 'Êtes-vous sûr?' }}</h5>
      </div>
      <div class="modal-body">
        {{ message || 'Cette action est irréversible. Elle supprimera définitivement les données du serveur.' }}
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="onConfirm()">Supprimer</button>
      </div>
    </div>
  </div>
</div>
